<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let person of people$ | async; let i = index" (click)="openPersonDetail(person, i)">
      <ion-avatar slot="start">
        <img #avatar alt="Silhouette of a person's head" [src]="person.picture.thumbnail" />
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        {{person.name.title}} {{person.name.first}} {{person.name.last}}
      </ion-label>
    </ion-item>
  </ion-list>
  <div #animatedAvatarContainer class="animated-avatar-container" [ngStyle]="{'display':isAnimating?'block':'none'}">
    <img #animatedAvatar [src]="selectedPerson?.picture.large" alt="Foto de {{ selectedPerson?.name.first }}">
  </div>
</ion-content>
